body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(14, 14, 14);
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: white; */
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateY(-100px);
}

.container .card {
    position: relative;
}

.container .card .face {
    width: 300px; 
    height: 200px;
    transition: .2s;
}

.container .card .face.face1 {
    border-radius: 10px 10px 10px 10px;

    background-color: #202020;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);

    box-shadow: inset 0 -1px 50px rgb(87, 87, 87);
}

.container .card:hover .face.face1 {
    border-radius: 10px 10px 0 0;

    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke,
                inset 20px 0 80px #f0f,
                inset -20px 0 80px #0ff,
                inset 20px 0 300px #f0f,
                inset -20px 0 300px #0ff,
                0 0 50px white,
                -10px 0 200px #f0f,
                10px 0 80px #0ff;
}

.container .card .face.face1 .content {
    opacity: .5;
    transition: .3s;
    text-align: center;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i {
    font-size: 3rem;
    color: white;
    display: inline-block;
}

.container .card .face.face1 .content h3 {
    font-size: 1rem;
    color: white;
    text-align: center;
}

.container .card .face.face1 .content a {
    transition: .5s;
}


 /* FACE2 */
.container .card .face.face2 {
    border-radius: 10px 10px 10px 10px;

    position: absolute;
    background-color: #e2e2e2;

    display: flex;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 20px 400px #0ff,
                0 20px 80px whitesmoke;
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 80px rgba(0, 255, 255, 0.315),
                0 0 80px whitesmoke;
}

.container .card .face.face2 .content p, a {
    font-size: 11pt;
    margin: 0;
    padding: 0;
    color: #333;
}

/* a button >>*/
.container .card .face.face2 .content a {
    text-decoration: none;
    color: black;
    outline: 1px dashed #333;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px 0 0;
    display: inline-block;
}

.container .card .face.face2 .content a:hover {
    background-color: #333;
    color: whitesmoke;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}